

.advert {
    background-color: #9E0082;
    padding-top: 120px;
    padding-bottom: 143px;

}

.advert__header {
    margin-bottom: 100px;

}

.advert__card {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}


.title__2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.56;
    letter-spacing: -0.04em;
    }