/* ModCard.module.css */

.card {
    background-color: #9E0082;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card__img {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.card__desc {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.card__lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__lesson {
    background-color: #F1C0FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 10px);
    min-width: 200px; /* Устанавливаем минимальную ширину */
    height: 200px; /* Устанавливаем высоту */
    min-height: 200px; /* Устанавливаем минимальную высоту */
    margin-bottom: 20px;
    border: 10px solid white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.lesson__button {
    margin-bottom: 20px;
    width: 150px; /* Фиксированная ширина */
    height: 40px; /* Фиксированная высота */
    padding: 10px 20px;
    font-size: 14px; /* Размер текста */
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.lesson__button:hover {
    background-color: green;
}

.lesson__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    color: #9E0082;
}

.lesson__desc {

    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: #9E0082;
    line-height: 1.5;
    letter-spacing: -0.03em;

    }

.cars__numb {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    }