.title_course {
    background-color: #8669D1;
    border-radius: 10px;
    padding: 40px;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;

}