.card__list {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.card__container {
    flex: 1;
    max-width: 200px;
    margin: 0 200px 0px 0;
}

.card__img {
    margin-bottom: 10px;
    border-radius: 20px;
}

.card__body {
    display: flex;
    flex-direction: column; /* Устанавливаем столбцовую ориентацию для элементов внутри */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.card__title {
    margin-bottom: 7px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -0.04em;
    color: yellow;
}

.card__desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 2.08;
    letter-spacing: -0.04em;
    color: white;
}
